<% @title="Home1"%>
<div class= "row">
  <div class="large-6 columns"><div class="flex-video">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.gr/maps?f=q&amp;source=s_q&amp;hl=el&amp;geocode=&amp;q=amfitheas+118&amp;aq=&amp;sll=37.081682,23.503568&amp;sspn=2.839625,4.916382&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=%CE%9B%CE%B5%CF%89%CF%86%CF%8C%CF%81%CE%BF%CF%82+%CE%91%CE%BC%CF%86%CE%B9%CE%B8%CE%AD%CE%B1%CF%82+118,+%CE%A0%CE%B1%CE%BB%CE%B1%CE%B9%CF%8C+%CE%A6%CE%AC%CE%BB%CE%B7%CF%81%CE%BF,+%CE%9D%CF%8C%CF%84%CE%B9%CE%BF%CF%82+%CE%A4%CE%BF%CE%BC%CE%AD%CE%B1%CF%82+%CE%91%CE%B8%CE%B7%CE%BD%CF%8E%CE%BD&amp;z=14&amp;ll=37.9286,23.703158&amp;output=embed"></iframe><br /><small><a href="https://maps.google.gr/maps?f=q&amp;source=embed&amp;hl=el&amp;geocode=&amp;q=amfitheas+118&amp;aq=&amp;sll=37.081682,23.503568&amp;sspn=2.839625,4.916382&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=%CE%9B%CE%B5%CF%89%CF%86%CF%8C%CF%81%CE%BF%CF%82+%CE%91%CE%BC%CF%86%CE%B9%CE%B8%CE%AD%CE%B1%CF%82+118,+%CE%A0%CE%B1%CE%BB%CE%B1%CE%B9%CF%8C+%CE%A6%CE%AC%CE%BB%CE%B7%CF%81%CE%BF,+%CE%9D%CF%8C%CF%84%CE%B9%CE%BF%CF%82+%CE%A4%CE%BF%CE%BC%CE%AD%CE%B1%CF%82+%CE%91%CE%B8%CE%B7%CE%BD%CF%8E%CE%BD&amp;z=14&amp;ll=37.9286,23.703158" style="color:#0000FF;text-align:left">Προβολή μεγαλύτερου χάρτη</a></small>  </div></div>
  <div class="large-6 columns">
    <div class="panel callout radious">
      <h5><%= link_to t('moto1')%></h5>
    </div>
    <div class="panel callout radious">
      <h5><%=link_to  t('moto2')%></h5>
    </div>
    <div class="panel callout radious">
      <h5><%=link_to  t('moto3')%></h5>
    </div>
    <blockquote><%= t ('ceowords')%><cite><%= t ('ceo')%>, CEO</cite></blockquote>

  </div>

</div>
<div class= "white">

  <p><%= image_tag "brochure.jpg", :size => "180x180", :alt => "Edit Entry" %></p>
</div>
